body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* De plek en de kleur van de header worden bepaald */
.header {
  background-color: floralwhite;
    color: black;
  padding: 20px;
  text-align: center;
}

/* Kleur van de navigation bar bepalen */
.topnav {
  overflow: hidden;
  background-color: #333333;
}

/* De links in de navigation bar kunnen zo aangepast worden */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Kleur van de links worden zo aangepast */
.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

/* De 2 kolommen worden zo naast elkaar gezet */
.column {
  float: left;
  width: 100%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}


