/* Dit is algemeen op de hele website */
body {
    font-family: sans-serif;
    background-color: lightblue;
    color: black;
}
/*Dit komende stukje is voor de navagatiebalk bovenaan de paginas*/

.navigatie {
  list-style-type: none;
    background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_links {
  float: left;
}

.nav_links a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_links
a:hover:not(.active) {
  background-color: black;
}

/* Dit wordt gebruikt voor de kolommen in de database */
.kolom {
    float: left;
    width: 25%;
    padding: 15px;
}

.rij:after {
    content: "";
    display: table;
    clear: both;
}

.footer{
    text-align: center;
}