{% extends "project.html" %}
{%  block title %}BLAST input{% endblock %}
{%  block content %}

    <h2>BLAST resultaten toevoegen</h2>
    <p>
        Op deze pagina kunnen er BLAST resultaten worden toegevoegd aan
        de database. Vul je BLAST resultaten op de juiste plek in en
        druk vervolgens op de knop om ze toe te voegen.
        <br>
        De e-value moet onder de 1e-5 zijn en de identity moet hoger
        zijn dan 40%.
    </p>

    <!-- De tabel om de gegevens in de database te zetten -->
    <table>
    <form method="GET">
    <label>
        Vul de volgende gegevens is:
        <tr>
            <td></td>
            <td><b><u>Input vak:</u></b></td><tr>
            <td>BLAST versie:</td>
            <td><input type="text" name=blast></td><tr>
            <td>Header van ingevoerde sequentie:</td>
            <td><input type="text" name=header></td><tr>
            <td>Hit id:</td>
            <td><input type="text" name=hit_id></td><tr>
            <td>Accessiecode:</td>
            <td> <input type="text" name=acc></td><tr>
            <td>Organisme naam:</td>
            <td><input type="text" name=organisme></td><tr>
            <td>Identity:</td>
            <td> <input type="text" name=ident></td><tr>
            <td>E-value:</td>
            <td> <input type="text" name=evalue></td><tr>
            <td>Description:</td>
            <td> <input type="text" name=defenitie></td><tr>
            <td>Sequentie:</td>
            <td><input type="text" name=qseq></td><tr>
            <td><button type="submit">Zet in database</button></td>
    </tr>
    </label>
    </form>
    </table>

    {{ reactie }}

{% endblock %}