{% extends "project.html" %}
{%  block title %}BLAST input{% endblock %}
{%  block content %}
    <h2>BLAST resultaten toevoegen</h2>
    <p>
    Op deze pagina kunnen er blast resultaten worden toegevoegd aan
        de database. Vul je blast resultaten op de juiste plek in.
    </p>
    <table>
    <form method="GET">
    <label>
        <tr>
            <td>Voer onderstaand in <br> in het input vak</td>
        <td>Input vak</td><tr>
            <td>Blast versie:</td>
            <td><input type="text" name=blast></td><tr>
            <td>Header van ingevoerde <br>sequentie: </td>
            <td><input type="text" name=header></td><tr>
            <td>hit id:</td>
            <td><input type="text" name=hit_id></td><tr>
            <td>accesie code:</td>
            <td> <input type="text" name=acc></td><tr>
            <td>Het organisme:  </td>
            <td><input type="text" name=organisme></td><tr>
            <td>identitie:</td>
            <td> <input type="text" name=ident></td><tr>
            <td>evalue:</td>
            <td> <input type="text" name=evalue></td><tr>
            <td>defenitie:</td>
            <td> <input type="text" name=defenitie></td><tr>
            <td>sequentie:</td>
            <td> <input type="text" name=qseq></td><tr>

            <td><button type="submit">Zet in database</button></td>
    </tr>

    </label>

    </form>
    </table>
    {{ reactie }}
{% endblock %}