{% extends "project.html" %}
{%  block title %}Database{% endblock %}
{%  block content %}

    <p>
        Op deze pagina staat de database. Er is een filter voor de
        e-value. Via de zoekbalk kan er gezocht worden op de
        description en op het organisme naam. Er is ook van A tot en
        met Z gefilterd op het organisme naam.
        <br>

    <!-- Dit is/zijn de filter(s) -->
        <br>
        Filter op e-value:
        <br>
        <input type="checkbox" value="0">
        <label for="0">0</label>
        <br>
        <input type="checkbox" value="21-30">
        <label for="21-30">1e-30 en lager</label>
        <br>
        <input type="checkbox" value="11-20">
        <label for="11-20">1e-20 en lager</label>
        <br>
        <input type="checkbox" value="0-10">
        <label for="0-10">1e-10 en lager</label>
        <br>

        <!-- De zoekbalk en de zoeknop -->

        <form method="POST">
            <p>
                Voer een zoekwoord in:
                <label>
                    <input type="text" name=zoek>
                    <button type="submit">Zoek</button>
                </label>
            </p>
    <p>Je huidige zoekwoord is: {% print(zoek) %}
    <br>
    <button type="submit">Reset</button>
    </p>


    <!-- De database -->
        <h3> De database </h3>

    <table>
        <tr>
            <th>Accessiecode</th>
            <th>Organisme naam</th>
            <th>Description</th>
            <th>E-value</th>
        </tr>
        {% for rij in database %}
            <tr>
                <td>{% print(rij[0]) %}</td>
                <td>{% print(rij[1]) %}</td>
                <td>{% print(rij[2]) %}</td>
                <td>{% print(rij[3]) %}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}