<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" name="Projectgroep course 4">
    <title>{% block title %}{% endblock %}BLAST</title>
    <link rel="stylesheet" href="static/project.css">
    {% endblock %}
</head>

<body>
    {% block body %}
    <nav>
		<ul class="navigatie">
			<li class="nav_links"><a href='project.html'>Home</a></li>
			<li class="nav_links"><a href='database.html'>Database</a></li>
			<li class="nav_links"><a href='over%20ons.html'>Over
                ons</a></li>
		</ul>
    </nav>
    {% endblock %}
    {% block content %}
        Dit is onze webpagina. Hier komt het een en ander te staan
        over het onderzoek.
    {% endblock %}
        {% block footer %}
        <p>&copy; 2020 HAN Bio-informatica Course 4; Lars, Japser,
            Yuri & Christel</p>
        {% endblock %}
</body>

</html>

