<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" name="Projectgroep course 4">
    <title>{% block title %}{% endblock %} Homepagina</title>
    <link rel="stylesheet" href="static/project.css">
    {% endblock %}
</head>

<!-- De navigatiebalk wordt bovenin gemaakt -->
<body>
    {% block body %}
    <nav>
		<ul class="navigatie">
			<li class="nav_links"><a href='project.html'>Home</a></li>
			<li class="nav_links"><a href='database.html'>Database</a></li>
			<li class="nav_links"><a href='resultaten.html'>Resultaten</a></li>
		</ul>
    </nav>
    {% endblock %}

    {% block content %}
        <h2>Welkom bij deze pagina!</h2>
        <p>Bij dit project was de opdracht om de compost te
            verbeteren ten behoeve van champignonteelt.
            <br>
            Onderzoekers hebben de compost onderzocht en er DNA uit
            verkregen. Deze dataset was verkregen via het HAN Biocentre.
            Het DNA werd gesequenced met BLAST.
            <br>
            Deze resultaten zijn vervolgens in een database gezet, die
            u op de database pagina kunt vinden.
            <br>
            Om de effecten van micro-organismen op de compostering te
            achterhalen zijn de eiwitsequenties van in compost
            gevonden micro-organismen getest en zijn naar
            overeenkomstige sequenties gezocht in de NCBI GenBank.
            De resultaten hiervan worden op deze site weergeven
        </p>
        <img src="templates/Champignon.jpg" alt="champignon" height="443"
             width="770">
    {% endblock %}

    <!-- Hier komt de footer te staan -->
        {% block footer %}
        <p>&copy 2020 HAN Bio-informatica Course 4; Lars, Jasper,
            Yuri & Christel</p>
        {% endblock %}
</body>

</html>